<section class="mainContainer">
  <div class="card">
      <h5 class="card-title">
        Select Difficulty
      </h5>
      <div class="selectionButtons">
        <button
          type="button"
          class="btn btn-outline-secondary btn-selector"
          style="width: 200px"
          (click)="selectDifficulty('easy')"
        >
          Easy
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary btn-selector"
          style="width: 200px"
          (click)="selectDifficulty('medium')"
        >
          Medium
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary btn-selector"
          style="width: 200px"
          (click)="selectDifficulty('hard')"
        >
          Hard
        </button>
      </div>
    </div>
</section>

<router-outlet></router-outlet>
