.home-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-home{
    margin-top:2em;
    width: 20em;
    height: 4.5em;
    border: 3px solid grey;
    border-radius: 40px;
    color:inherit;
    background-color: #8FC93A;
}

.btn-home:hover{
   background-color: #87bc37;
   box-shadow: grey;
}
