<div class="home-container">
  <section class="homeCard">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title" style="display: flex; justify-content: center">
          Code Pairs
        </h5>
        <h6
          class="card-subtitle mb-2 text-body-secondary"
          style="display: flex; justify-content: center"
        >
          Debugging your Memory
        </h6>

        <div class="d-flex justify-content-center">
          <button
            [routerLink]="'/difficultySelector'"
            class="btn btn-primary"
            style="width:100%"
          >
            Play
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
<router-outlet></router-outlet>
