
  <nav class="Nav-Bar">
    <h1 class="MyTitle"> <i class="fa-solid fa-brain"></i>Memory Leak </h1>
  </nav>
  <div class="uiGrid">

    <div class="infoColumn">
      <div class="columnCard">
        Score
      <br/>
        {{currentPlayer.score}}
      </div>
      <div class="columnCard">
        Attempts Remaining
        <br/>
        {{currentPlayer.attemptsRemaining}}
      </div>
    </div>
    
    <div class="game-board">
     
      <div 
        *ngFor="let card of cards"
        (click)="handleCardClick(card)"
        class="flip-card"
        [class.flipped]="card.isFlipped">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <!-- Backside of card -->
            <img [src]="card.backside" alt="Card Back" class="imgCardBack">
          </div>
          <div class="flip-card-back">
            <!-- Front side (icon) of card -->
            <div class="card-icon" [innerHTML]="card.source"></div>
          </div>
        </div>
      </div>
   
    </div>

    
      <button class="resetButton" (click)="resetGame()" >Reset Game</button>
   

  </div>

<router-outlet></router-outlet>
